.grid-left {
    width: 250px;
}

.grid-left-paper {
    min-height: 242px;
}

.grid-right {
    flex: 1 1 0;
}

.grid-right-pagination {
    display: flex;
    justify-content: center;
    padding: 15px 0 20px 0;
}